html,body{
    margin: 0px;
    padding: 2px;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-family: cursive;
}
.note{
    width: 400px;
    height: 350px;
    position: relative;
    border-radius: 5px;
    margin: 20px;
}
.note p{
    letter-spacing: 3px;
    top: 20%;
    font-size: 28px;
    text-align: center;
    font-weight: 500;
}
.note ::before, .note ::after{
    content:"";
    width: 40%;
    height: 10px;
    position: absolute;
    bottom: 10px;
    box-shadow: 0 8px 15px #77e826;
    z-index: -1;
}
.note ::before::before{
    left: 10px;
    transform: skewX(-5deg) rotateX(-5deg);
}
.note::after{
    right: 10px;
    transform: skewX(5deg) rotateX(5deg);
}
.line{
    width: 100%;
    height: 25px;
}
.container div:nth-child(1){
    background: #ffe739;
}
.container div:nth-child(1) .line{
    background: linear-gradient(#39ff67,#049a84);
}
.container div:nth-child(2){
    background:#98f57a;
}
.container div:nth-child(2) .line{
    background: linear-gradient(#98f579,#1c6803);
}
.container div:nth-child(3){
    background:#ccff33;
}
.container div:nth-child(3) .line{
    background: linear-gradient(#b3dc0e,#344101);
}
.container div:nth-child(4){
    background:#99ff33;
}
.container div:nth-child(4) .line{
    background: linear-gradient(#7feb13,#3f7a03);
}
/* .container div:nth-child(5) .line{
    text-decoration: none;
    color:#000000;
    background:rgb(255,255,162);
    display: block;
    height:10em;
    width:10em;
    padding:1em;
    box-shadow:5px 5px 7px rgba(33 33 33 1);
    transition:transform .15s ease; */
/* } */